# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.cache
.eslintcache

# --- Compiled ----------------------------------

app/styles
build
public
