# --- Dependencies ------------------------------

node_modules

# --- Caches ------------------------------------

.eslintcache

# --- Compiled ----------------------------------

.cache
public
src/gatsby-types.d.ts
